@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Petrona:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shafarik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-flego {
  font-family: "Shafarik", serif;
  font-weight: bold;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes live-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out forwards;
}

.animate-image {
  animation: fade-in 1s ease-out forwards, slide-in 1s ease-out forwards;
}

.animate-live {
  animation: live-animation 3s infinite;
}
